<div class="container">  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render partial: "shared/user_info", locals: {object: @user}  %>

      <br><br>

      <div id="manage">
        <ul class="nav nav-tabs">
          <li role="presentation"><%= link_to "My Post", user_path(@user) %></li>
          <li role="presentation" class="active"><%= link_to "My Comment", comments_user_path %></li>
          <li role="presentation"><%= link_to "My Collect", collects_user_path %></li>
          <li role="presentation"><%= link_to "My Draft", drafts_user_path %></li>
          <li role="presentation"><%= link_to "My Friend", friends_user_path %></li>        
        </ul>
      </div>

      <br><br>

      <div class="col-md-10 col-md-offset-1">
        <div class="">
          <table class="table" id="user_comment_tb">            
            <tbody>
              <% @replies.each do |reply| %>
                <% if current_user %>
                  <% if current_user.admin? || current_user == reply.post.user || reply.post.authority == "All" || (reply.post.authority == "Friend" && reply.post.user.my_friend?(current_user)) %>
                    <tr id="user_reply-<%= reply.id %>">
                      <%= render partial: "shared/user_comment_list", locals: {object: reply}  %>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>