<div class="container">  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render partial: "shared/user_info", locals: {object: @user}  %>

      <br><br>

      <div id="manage">
        <ul class="nav nav-tabs">
          <li role="presentation"><%= link_to "My Post", user_path(@user) %></li>
          <li role="presentation"><%= link_to "My Comment", comments_user_path %></li>
          <li role="presentation"><%= link_to "My Collect", collects_user_path %></li>
          <li role="presentation"><%= link_to "My Draft", drafts_user_path %></li>
          <li role="presentation" class="active"><%= link_to "My Friend", friends_user_path %></li>        
        </ul>
      </div>

      <br>

      <% if @user == current_user %>
        <div class="">
          <div class="text-center">Waiting for being accepted</div>
          <br><br>
          <% @waitings.each do |waiting| %>
            <div class="col-md-2">
              <%= render partial: "shared/user_grid", locals: {user: waiting}  %>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>

        <br><br><br><hr>

        <div class="">
          <div class="text-center">Waiting for your response</div>
          <br><br>
          <% @requests.each do |request| %>
            <div class="col-md-2" id="request-<%= request.id %>">
              <div class="text-center">
                <%= link_to user_path(request) do %>
                  <% if request.avatar? %>
                    <%= image_tag request.avatar, class: "avatar" %>
                  <% else %>
                    <img src="http://via.placeholder.com/120x120">
                  <% end %>
                  <br>
                  <div><%= request.name %></div><br>
                  <%= link_to "Accept", friendship_path(request), remote: true, method: :patch, class: "btn btn-default" %><br><br>
                  <%= link_to "Ignore", friendship_path(request, :name => "Ignore"), remote: true, method: :delete, class: "btn btn-default" %>
                  <br>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>

        <br><br><br><hr>
      <% end %>

      <div class="">
        <div class="text-center">Friends</div>
        <br><br>
        <div id="my-friends">
          <% @friends.each do |friend| %>
            <div class="col-md-2">
              <%= render partial: "shared/user_grid", locals: {user: friend}  %>
            </div>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>