<td>
  <div class="text-center">
    <%= link_to user_path(reply.user) do %>
      <% if reply.user.avatar? %>
        <%= image_tag reply.user.avatar %>
      <% else %>
        <img src="http://via.placeholder.com/100x100">
      <% end %>
      <br><br>
      <div><%= reply.user.name %></div>
    <% end %>
    <br>
    <button type="button" class="btn btn-default">Add Friend</button>
  </div>
</td>
                
<td>
  <%= reply.content %>
  <br><br>
  <% if current_user == reply.user %>
    <%= link_to post_reply_path(post, reply), remote: true, method: :delete, data: { confirm: "Are you sure?"} do %>
      <span class="glyphicon glyphicon-remove post_show_icon"></span>
    <% end %>

    <%= link_to edit_post_reply_path(post, reply, :flag => 0), remote: true do %>
      <span class="glyphicon glyphicon-pencil post_show_icon"></span>
    <% end %>
  <% end %>  
</td>