<div id="user_info">
  <div class="col-md-3 text-center">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar, class: "avatar" %>
    <% else %>
      <img src="http://via.placeholder.com/120x120" class="avatar">
    <% end %>
    <div id="user_name"><%= object.name %></div>
  </div>

  <div class="col-md-9">
    <p><%= simple_format object.intro %></p>
    <% if object == current_user %>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default", id: "edit_user" %>
    <% else %>
      <div class="friendship-<%= @user.id %>">
        <%= render partial: "shared/friend", locals: {object: @user} %>
      </div>
    <% end %>
  </div>
</div>