<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% if @post.errors.any? %>
        <h4>We have some errors here !</h4>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        <hr>
      <% end %>

      <%= form_for @post do |f| %>

        <div class="form-group">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :content, "" %>
          <%= f.text_area :content, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :photo, "Photo" %>
          <%= image_tag @post.photo, width: '300px' if @post.photo? %>
          <%= f.file_field :photo %>
        </div>

        <div class="form-group">
          <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: "form-control"} %>
        </div>

        <br>

        <div class="form-group">
          <%= f.submit "Save Draft", class: "btn btn-info" %>
          &nbsp;&nbsp;&nbsp;
          <%= f.submit "Update", class: "btn btn-success" %> 
        </div>
      <% end %>

      <br />

      <div>
        <%= link_to 'Back', post_path(@post), class: "btn btn-default" %>
      </div>

    </div>
  </div>
</div>
