<div class="container">  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div id="post_show_itle">
        <span><%= @post.title %></span>       
        <span class="collect_bt"><%= render partial: "shared/collect", locals: {object: @post, flag: 0}  %><span>
      </div>
  
        <table class="table table-bordered post_table">
          <tbody id="post-reply-list">
            <!-- post -->
            <tr>
              <td>
                <div class="text-center">
                  <%= link_to user_path(@post.user) do %>
                    <% if @post.user.avatar? %>
                      <%= image_tag @post.user.avatar, class: "avatar" %>
                    <% else %>
                      <img src="http://via.placeholder.com/120x120">
                    <% end %>
                    <br><br>
                    <div><%= @post.user.name %></div>
                  <% end %>
                  <br>
                  <%= render partial: "shared/friend", locals: {object: @post.user}  %>
                </div>
              </td>
              <td>
                <div>
                  <% if @post.photo? %>
                    <%= image_tag @post.photo, class: "post_show_photo" %>
                  <% else %>
                    <img src="http://via.placeholder.com/500x300">
                  <% end %>
                </div>
                <br>
                <div><%= @post.content %></div>
                <br>

                <%= render partial: "shared/edit_delete_bt", locals: {object: @post}  %>                 
              </td>
            </tr>

            <!-- reply -->
            <% @replies.each do |reply| %>
              <tr class="post_show_reply" id="reply-<%= reply.id %>">
                <%= render partial: "shared/create_reply", locals: {post: @post, reply: reply}  %>
              </tr>
            <% end %>
          </tbody>
        </table>

      <div class="text-center">
        <%= paginate @replies %>
      </div>

      <br>

      <%= form_for [@post, @reply], { remote: true } do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "add comment", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-default" %>
        </div>
      <% end %>

      <br>

    </div>
  </div>
</div>