<div class="container">  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div id="post_show_itle">
        <span><%= @post.title %></span>
        <button type="button" class="btn btn-default">Comment</button>
        <button type="button" class="btn btn-default">Collect</button>
      </div>
  
        <table class="table table-bordered post_table">
          <tbody id="post-reply-list">
            <!-- post -->
            <tr>
              <td>
                <div class="text-center">
                  <%= link_to user_path(@post.user) do %>
                    <% if @post.user.avatar? %>
                      <%= image_tag @post.user.avatar %>
                    <% else %>
                      <img src="http://via.placeholder.com/100x100">
                    <% end %>
                    <br><br>
                    <div><%= @post.user.name %></div>
                  <% end %>
                  <br>
                  <button type="button" class="btn btn-default">Add Friend</button>
                </div>
              </td>
              <td>
                <div>
                  <% if @post.photo? %>
                    <%= image_tag @post.photo, class: "post_show_photo" %>
                  <% else %>
                    <img src="http://via.placeholder.com/500x300">
                  <% end %>
                </div>
                <br>
                <div><%= @post.content %></div>
                <br>
                <% if current_user == @post.user || current_user.admin? %>
                  <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?"} do %>
                    <span class="glyphicon glyphicon-remove post_show_icon"></span>
                  <% end %>
                <% end %>
                <% if current_user == @post.user %>
                  <%= link_to edit_post_path(@post) do %>
                    <span class="glyphicon glyphicon-pencil post_show_icon"></span>
                  <% end %>
                <% end %>  
              </td>
            </tr>

            <!-- reply -->
            <% @replies.each do |reply| %>
              <tr class="post_show_reply" id="reply-<%= reply.id %>">
                <td>
                  <div class="text-center">
                    <%= link_to user_path(reply.user) do %>
                      <% if reply.user.avatar? %>
                        <%= image_tag reply.user.avatar %>
                      <% else %>
                        <img src="http://via.placeholder.com/100x100">
                      <% end %>
                      <br><br>
                      <div><%= reply.user.name %></div>
                    <% end %>
                    <br>
                    <button type="button" class="btn btn-default">Add Friend</button>
                  </div>
                </td>
                
                <td>
                  <%= reply.content %>
                  <br><br>
                  <% if current_user == reply.user %>
                    <%= link_to post_reply_path(@post, reply), remote: true, method: :delete, data: { confirm: "Are you sure?"} do %>
                      <span class="glyphicon glyphicon-remove post_show_icon"></span>
                    <% end %>

                    <%= link_to edit_post_reply_path(@post, reply), remote: true do %>
                      <span class="glyphicon glyphicon-pencil post_show_icon"></span>
                    <% end %>
                  <% end %>  
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <div class="text-center">
        <%= paginate @replies %>
      </div>

      <br>

      <%= form_for [@post, @reply], { remote: true } do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "add comment", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-default" %>
        </div>
      <% end %>

      <br>

    </div>
  </div>
</div>
