<div class="container">

  <h1>DojoForum</h1>

  <br><br>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to "All", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation" class="<%= "active" if category == @category %>">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %>
      </ul>

      <br>

      <table class="table">
        <thead>
          <tr>
            <th>Replies Count</th>
            <th>Title</th>
            <th>Last replied at</th>
            <th>Viewed Count</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="text-center"><%= post.replies_count %></td>
              <td><%= link_to post.title, post_path(post) %></td>
              <td class="text-center"><%=  %></td>
              <td class="text-center"><%= post.viewed_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @posts %>
      </div>

    </div>

  </div>
</div>
